.qa_Upload{
	width: 35%;
	margin: 0 auto;
	margin-top:130px;
}
#pwd{
    float:left;
    width:48%;
    margin-right:2%;
}
#pwd_ok{
    width:50%;
}
.cancle_Btn{
    float:right;
    margin-top:1%;
}
.ok_Btn{
    float:right;
    margin-top:1%;
    margin-right:1%;
}
@media(max-width:768px){
    .qa_Upload{
    width: 80%;
    margin: 0 auto;
    margin-top:130px;
  }
}
/*input file css  끝*/
