.qa{
	position: left;
	width:40%;
	margin-top:200px;
	margin-left:30%;
}
.q{
	position:absolute;
	top:120px;
	left:45%;
	text-align: center;
	font-size:25px;
}
.write_Btn{
	position:absolute;
	top:130px;
	right:31%;
}
table{
	width:100%;
	font-size:16px;
	border-top:3px solid darkgray;
	border-bottom: 3px solid darkgray;
}
td{
	border:1px solid gray;
	padding-left:1%;
}
td >textarea{
	margin-top:1px;
	width :100%;
	height:300px;
	border:0px solid gray;
	resize: none;
}
textarea:hover,textarea:focus{
	outline: none;
}
.btn-warning{
	float:right;
	margin-top: 5px;
}
.btn-danger{
	float:right;
		margin-top: 5px;
	margin-left:2%;
}
.Modal{
	position: absolute;
	background-color: white;
	top:25%;
	left:35%;
	width:30%;
	border:1px solid black;
	display: none;
	z-index: 100000;
}
.pwdInput{
	width: 40%;
}
.btnTop{
	margin-bottom: 1%;
}
.delete_Top{
	width:100%;
	height:25px;
	background-color:#F15F5F;
}
.update_Top{
	width:100%;
	height:25px;
	background-color:#F2CB61;
}
.delete_Top>p,.update_Top>p{
	color:white;
	float:right;
	margin-right:5px;
	font-style:border;
}
.delete_Top p:hover , .update_Top p:hover{
	cursor:pointer;
}
.Modal > p{
	text-align: center;
}
.Modal > input{
	margin-left: 25%;
	height:30px;
}
.Modal > button{
	height:30px;
}
.reply{
	border:1px solid darkgray;
	margin-bottom:1px;
}
.reply_Txt{
	margin:1% 1%;
	float:left;
	resize: none;
	width: 78%;
}
.reply_Id{
	margin:1% 1%;
	float:left;
	width:38%;
}
.reply_Pwd{
	float:left;
	margin:1% 1%;
	width:38%;
}
.reply_Btn{
	width:18%;
	margin:1% 1%;
	height:85px;
}
.replyDelete{
	float:right;
	margin:1% 1%;
	color:red;
}
.replyDelete:hover{
	cursor: pointer;
}
@media(max-width:1200px){
	.Modal{
		left:25%;
		width:50%;
	}
}
@media (max-width:768px){
	.Modal{
		left:5%;
		width:90%;
	}
	.reply{
		margin-left: 5%;
		width:90%;
	}
	.reply_Btn{
		height:75px !important;
	}
	.btn-danger{
		margin-right:5%;
	}
	.write_Btn{
		position:absolute;
		top:120px;
		right:4%;
	}
	.qa{
		margin-left:0;
		width:100%;
	}
	table{
		width:90%;
		margin-left:5%;
	}
	textarea{
		height:300px;
	}
}