<link rel="stylesheet" href="/css_each/main/main_img.css"/> <!--main img 영역 css-->
<link rel="stylesheet" href="/css_each/main/main_Wedding.css"/><!-- wedding 영역 css -->
<link rel="stylesheet" href="/css_each/main/main_Review.css"/><!--review 영역 css -->
<link rel="stylesheet" href="/css_each/main/main_Photo.css"/><!-- photo 영역 css -->
<div name="main_img" class="main">   <!--main img 시작-->
	<slick infinite=true slides-to-show=1 slides-to-scroll=1 autoplay=true>
			<div class="mainImg_Box" ng-repeat="img in img">
				<img ng-src="{{img}}"/>
			</div>
	</slick>
</div> <!--main img 끝-->
<div class="wedding" ng-controller="main_Wedding"> <!--wedding 시작-->
	<div class="weddingTxt">
		<p id="wedding">WEDDING</p>
	</div>
	<div class="wrap_Wedding"> <!--positon fixed 를하기위해 relative 로 감싸는 공간 -->
		<div class="weddingImgBox_1">
			<div class="wdImgBox_1"><img src="images/wedding/wedding_01.jpg" ng-mouseover="mouseover('images/wedding/wedding_01.jpg','1')" 
																	 ng-mouseout="mouseout('images/wedding/wedding_08.jpg','1')"/>
			</div>
			<div class="wdImgBox_2" id="wdImgBox_1"><img src="images/wedding/wedding_08.jpg"/></div>
			<div class="wdImgBox_3"><img src="images/wedding/wedding_02.jpg" ng-mouseover="mouseover('images/wedding/wedding_02.jpg','1')"
																	 ng-mouseout="mouseout('images/wedding/wedding_08.jpg','1')"/>
			</div>
		</div>
		<div class="weddingImgBox_2">
			<div class="wdImgBox_1"><img src="images/wedding/wedding_03.jpg" ng-mouseover="mouseover('images/wedding/wedding_03.jpg','2')"
																	 ng-mouseout="mouseout('images/wedding/wedding_09.jpg','2')"/>
			</div>
			<div class="wdImgBox_2" id="wdImgBox_2"><img src="images/wedding/wedding_09.jpg"/></div>
			<div class="wdImgBox_3"><img src="images/wedding/wedding_04.jpg" ng-mouseover="mouseover('images/wedding/wedding_04.jpg','2')"
																	 ng-mouseout="mouseout('images/wedding/wedding_09.jpg','2')"/>
			</div>
		</div>
		<div class="weddingImgBox_3">
			<div class="wdImgBox_1"><img src="images/wedding/wedding_05.jpg" ng-mouseover="mouseover('images/wedding/wedding_05.jpg','3')"
																	 ng-mouseout="mouseout('images/wedding/wedding_07.jpg','3')"/>
			</div>
			<div class="wdImgBox_2" id="wdImgBox_3"><img src="images/wedding/wedding_07.jpg"/></div>
			<div class="wdImgBox_3"><img src="images/wedding/wedding_06.jpg" ng-mouseover="mouseover('images/wedding/wedding_06.jpg','3')"
																	 ng-mouseout="mouseout('images/wedding/wedding_07.jpg','3')"/>
			</div>
		</div>
	</div>
</div><!--wedding 끝-->
<div class="review" data-ng-init="load()" ng-controller="main_Review"> <!--review 시작-->
	<div class="reviewTxt">
		<p id="view">REVIEW</p>
	</div>
	<div class="review_ImgBox" ng-repeat="tmp in main_view | orderBy:'-'" data-index="$index"> 
		<div class="review_Img">
			<img ng-src="{{tmp.img}}"/>
		</div>
	</div>
</div>  <!--review 끝-->
<div class="photo" ng-controller="main_Photo">
	<div class="photoTxt">
		<p id="photo">PHOTO</p>
	</div>
	<div class="photo_Switch" ng-switch="test()">
		<div ng-switch-when="true" class="photo_Box">
			<slick class="t_t" dots=true infinite=true slides-to-show=3 slides-to-scroll=3>
				<div class="photoImg_Box" ng-repeat="tmp in photo">
					<img ng-src="{{tmp}}"/>
				</div>
			</slick>
		</div>
		<div ng-switch-when="false" class="photo_Box">
			<slick class="t_t" dots=true infinite=true slides-to-show=2 slides-to-scroll=2>
				<div class="photoImg_Box" ng-repeat="tmp in photo">
					<img ng-src="{{tmp}}"/>
				</div>
			</slick>
		</div>
	</div>
</div>