<style>
.qa{
	position: left;
	width:70%;
	margin-top:200px;
	margin-left:15%;
}
.q{
	position:absolute;
	top:120px;
	left:45%;
	text-align: center;
	font-size:25px;
}
.write_Btn{
	position:absolute;
	top:130px;
	right:19%;
}
.table{
	margin-top:50px;
}
@media(max-width:768px){          /* 768 이하 적용*/
    .qa{
        width:100%;
        margin-left:0;
        margin-top:110px;
    }
    .qa span{
        position: absolute;
        top:110px;
        right:5%;
        color:grey;
    }   
    .review_ImgBox{
        margin:25px 0;
        margin-left:10%;
        height:80%;
        width:80%;
    }
    .q{
        font-size:15px;
        top:70px;
        left:40%;
    }
    .write_Btn{
        top:60px;
        right:3%;
    }
    .view_Img{
    position:fixed;
    top:4%;
    left:5%;
    width:90%;
    height:85%;
    display: none;
    }
    .modal_Img{
        height:80%;
    }
    .modal_Txt{
        height:20%;
    }
}


</style>
<body>
<div class="qa" ng-controller="qa" data-ng-init="load()">
	<p class="q"><strong>Q & A</strong></p>
	<button class="btn btn-default write_Btn" ng-click="go('qa_Upload')">글쓰기</button>
	<table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:5%">번호</th>
                    <th style="width:65%"><center>제목</center></th>
                    <th style="width:10%">작성자</th>
                    <th style="width:10%">작성일</th>
                    <th style="width:10%">조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tmp in view | orderBy:'-'">
                    <td>{{tmp.number}}</td>
                    <td>{{tmp.title}}</td>
                    <td>{{tmp.writer}}</td>
                    <td>{{tmp.date}}</td>
                    <td>{{tmp.clicked}} 회</td>
                </tr>
            </tbody>
        </table>
</div>
</body>