<link rel="stylesheet" href="/css_each/qa/qa_Upload.css"/>
<div class="qa_Upload">
    <center><h3>Q & A 글 등록 </h3></center>
        <form action="/qa_Upload" name="uploadForm" method="post" ng-submit="submit($event)" enctype="multipart/form-data" novalidate>
            <div class="form-group has-feedback">
                <label for="date" class="sr-only">등록일자</label>
                <input type="text" ng-model="date" id="date" name="date" class="sr-only"/>

                <label for="writer" class="sr-only">작성자</label>
                <input type="text" ng-model="writer" id="writer" name="writer" placeholder="작 성 자" class="form-control" ng-required="true"
                    pattern="[a-zA-Z가-힣\s]{1,10}$"/>
                <p class="help-block" ng-show="uploadForm.writer.$invalid">작성자를 입력하세요(영문 대소문자, 한글 10자 이내)</p><br/>
             
                <label for="pwd" class="sr-only">비밀번호</label>
                <input type="password" ng-model="pwd" id="pwd" name="pwd" placeholder="비 밀 번 호(글 수정 삭제시 사용됩니다.)" class="form-control" ng-required="true" pattern="^(?=.*[a-zA-Z])(?=.*\d).{8,12}$"/>

                <label for="pwd" class="sr-only">비밀번호 확인</label>
                <input type="password" ng-model="pwd_ok" id="pwd_ok" name="pwd_ok" placeholder="비 밀 번 호 확 인" class="form-control" ng-required="true" pattern="^(?=.*[a-zA-Z])(?=.*\d).{8,12}$"/>
                <p class="help-block" ng-show="uploadForm.writer.$valid && uploadForm.pwd_ok.$invalid">비밀번호를 입력하세요(영문+숫자 8~12글자)</p><br/>
                <label for="title" class="sr-only">제목</label>
                <input type="text" ng-model="title" id="title" name="title" placeholder="제 목" class="form-control" ng-required="true"
                    pattern="^[\w\W]{1,15}$"/>
                <p class="help-block" ng-show="uploadForm.pwd_ok.$valid&&uploadForm.title.$invalid">제목을 입력하세요(15자 이내)</p><br/>

                <label for="content" class="sr-only">내용</label><br/>
                <textarea ng-model="content" name="content" id="content" cols="50" rows="10" class="form-control" 
                style="resize:none;" ng-required="true"> 
                </textarea>
                <button type="button" class="btn btn-danger cancle_Btn" ng-click="go('qa')">취소</button>
                <button class="btn btn-success ok_Btn" id="submit">확인</button>
            </div>
        </form>         
    </div>
</div>  