<link rel="stylesheet" href="/css_each/qa/qa_Write.css"/>
<style>
.btn-warning{
	float:right;
	margin-top: 5px;
}
.btn-danger{
	float:right;
		margin-top: 5px;
	margin-left:2%;
}
.Modal{
	position: absolute;
	background-color: white;
	top:25%;
	left:35%;
	width:30%;
	height:100px;
	border:1px solid black;
	display: none;
}
.delete_Top{
	width:100%;
	height:25%;
	background-color:#F15F5F;
}
.update_Top{
	width:100%;
	height:25%;
	background-color:#F2CB61;
}
.delete_Top>p,.update_Top>p{
	color:white;
	float:right;
	margin-right:5px;
	font-style:border;
}
.delete_Top p:hover , .update_Top p:hover{
	cursor:pointer;
}
.Modal > p{
	text-align: center;
}
.Modal > input{
	margin-left: 25%;
	height:30px;
}
.Modal > button{
	height:30px;
}
@media(max-width:1200px){
	.Modal{
		left:25%;
		width:50%;
	}
}
@media(max-width:768px){
	.Modal{
		left:5%;
		width:90%;
	}
	.btn-danger{
		margin-right:5%;
	}
}
</style>
<div class="update_Modal Modal">
	<div class="update_Top"><p ng-click="updateHide()">X</p></div>
	<p>글을 <strong>수정</strong> 하시려면 비밀번호를 입력해주세요.</p>
	<input type="password" ng-model="updatePwd">
	<button class="btn btn-default" ng-click=update(view.number)>확인</button>
</div>
<div class="delete_Modal Modal">
	<div class="delete_Top"><p ng-click="deleteHide()">X</p></div>
	<p>글을 <strong>삭제</strong> 하시려면 비밀번호를 입력해주세요.</p>
	<input type="password" ng-model="deletePwd">
	<button class="btn btn-default" ng-click=delete(view.number)>확인</button>
</div>
<div class="qa" data-ng-init="load()">
	<p class="q"><strong>Q & A</strong></p>
	<table>
		<tr>
			<td style="width:25%">제 　목</td>
			<td colspan="3">{{view.title}}</td>
		</tr>
		<tr>
			<td>조 회 수</td>
			<td>{{view.clicked}}회</td>
			<td style="width:25%">등 록 일</td>
			<td>{{view.date}}</td>
		</tr>
		<tr>
			<td>작 성 자</td>
			<td colspan="3">{{view.writer}}</td>
		</tr>
		<tr>
			<td colspan="6">내　 용</td>	
		</tr>
		<tr>
			<td colspan="6">
				<textarea>{{view.content}}</textarea>
			</td>
		</tr>
	</table>
	<button class="btn btn-default write_Btn" ng-click="go('qa')">목록</button>
	<button class="btn btn-danger" ng-click=deleteShow()>삭제</button>
	<button class="btn btn-warning" ng-click=updateShow()>수정</button>
</div>



