<link rel="stylesheet" href="css_each/review/review_Upload.css"/><!--review upload css-->
<div class="review_Upload">
	<center><h3>REVIEW 글 등록 </h3></center>
		<form action="/view_Upload" name="uploadForm" method="post" ng-submit="submit($event)" enctype="multipart/form-data" novalidate>
			<div class="form-group has-feedback">
				<label for="name" class="sr-only">이름</label>
				<input type="text" ng-model="name" id="name" name="name" placeholder="이름 입력:" class="form-control" ng-required="true"
					pattern="[a-zA-Z가-힣\s]{1,15}$"/>
				<p class="help-block" ng-show="uploadForm.name.$invalid">이름을 입력하세요(영문 대소문자, 한글 15자 이내)</p><br/>
				<label for="age" class="sr-only">나이</label>
				<input type="text" ng-model="age" id="age" name="age" placeholder="나이 입력:" class="form-control" ng-required="true"
					pattern="^[1-9][0-9]{0,2}$"/>
				<p class="help-block" ng-show="uploadForm.name.$valid&&uploadForm.age.$invalid">나이를 입력하세요(숫자만 입력하세요 1~999)</p><br/>	
				<div class="filebox">
					<label for="ex_filename">업로드</label>
					<input class="upload-name" type="text" id="upload_" ng-model="img" ng-required="false" placeholder="파일을 선택해주세요" disabled="disabled"/> 
					<input type="file" id="ex_filename" accept=".gif,.jpg,.png" name="img" class="upload-hidden"/>
				</div>				
				<label for="content" class="sr-only">내용</label><br/>
				<textarea ng-model="content" name="content" id="content" cols="50" rows="10" class="form-control" 
				placeholder="간단한 인사말 을 적어주세요 20자 이내 ." style="resize:none;" ng-required="true">	
				</textarea>
				<button type="button" class="btn btn-danger cancle_Btn">취소</button>
                <button class="btn btn-success ok_Btn" type="submit">확인</button>
			</div>
		</form>			
	</div>
</div>