<link rel="stylesheet" href="/css_each/wedding/wedding.css"/>
<div class="sub_menu">
	<div ng-click="view('WEDDING')">결혼식</div>
	<div ng-click="view('SKY')">하늘공원</div>
	<div ng-click="view('OLYMPIC')">올림픽공원</div>
</div>
<div class="wedding">
<p><strong>WEDDING</strong></p>
<input type="text" ng-model="view_Img" class="sr-only"/>
	<div ng-switch="" on="view_Img">
		<div class="wedding_" ng-switch-default>
			<div class="main_Img">
				<img src="/images/wedding/wedding_main.jpg"/>
			</div>
			<div class="sub_Img" ng-repeat="img in wedding_Img">
				<img ng-src="{{img}}"/>
			</div>
		</div>
		<div class="wedding_" ng-switch-when="WEDDING">
			<div class="main_Img">
				<img src="/images/wedding/wedding_main.jpg"/>
			</div>
			<div class="sub_Img" ng-repeat="img in wedding_Img">
				<img ng-src="{{img}}"/>
			</div>
		</div>
		<div class="wedding_" ng-switch-when="SKY">
			<div class="main_Img">
				<img src="/images/wedding/skypark_01.jpg"/>
			</div>
			<div class="sub_Img" ng-repeat="img in sky_Img">
				<img ng-src="{{img}}"/>
			</div>
		</div>
		<div class="wedding_" ng-switch-when="OLYMPIC">
			<div class="main_Img">
				<img src="/images/wedding/olympicpark_01.jpg"/>
			</div>
			<div class="sub_Img" ng-repeat="img in olympic_Img">
				<img ng-src="{{img}}"/>
			</div>
		</div>
	</div>
</div>