.review{
	float: left;
	margin-top:150px; 
	margin-left:15%;
	width: 70%;
}
.review_Btn{
	position:absolute;
	top:130px;
	right:19%;
}
.review > p{
	position:absolute;
	top:120px;
	left:45%;
	text-align: center;
	font-size:25px;
}
.review_ImgBox{
	float: left;
	margin:50px 1%;
	width:30%;
	height:600px;
}
.review_Img{
	float:left;
	width: 100%;
	height: 100%;
}
.view_Img{
	position:fixed;
	top:10%;
	left:32%;
	width:32%;
	height:840px;
	background-color:white;
	display: none;
	z-index: 10000;
}
.modal_Img{
	float:left;
	width: 100%;
	height:80%;
}
.modal_Txt{
	float:center;
	height:20%;
}
img{
	width: 100% !important;
	height: 100% !important;
}
.modal_Exit{
	float: right;
}
.pre{
	position:relative;
	top:750px;
	left:2%;
}
.next{
	position:absolute;
	top:750px;
	right:3%;
}
.review_Img img:hover{
	cursor:pointer;
}
.review span{
	position: absolute;
	top:170px;
	right:19%;
	color:grey;
}
@media(max-width:1200px){      /* 1200px 이하  적용*/
	.review{
		margin-left:2%;
		width:100%;
	}
}
@media(max-width:768px){          /* 768 이하 적용*/
	.review{
		margin-left:0;
		margin-top:110px;
	}
	.review span{
		position: absolute;
		top:110px;
		right:5%;
		color:grey;
	}	
	.review_ImgBox{
		margin:25px 0;
		margin-left:10%;
		height:80%;
		width:80%;
	}
	.review >p{
		font-size:15px;
		top:70px;
		left:40%;
	}
	.review_Btn{
		top:60px;
		right:3%;
	}
	.view_Img{
	position:fixed;
	top:1%;
	left:1%;
	width:98%;
	height:720px;
	background-color:white;
	display: none;
	}
	.pre{
	position:relative;
	top:620px;
	left:10%;
	}
	.next{
		position:absolute;
		top:620px;
		right:10%;
	}	
}
@media(min-width:1200px){   /*  1200px 이상 시 img heigt 고정 */
}
